.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 133px 50px 100px;
}

.header__menu {
  justify-self: start;
}

.header__links-list {
  display: flex;
  gap: 13px;
  margin: 0;
  padding: 0;
  list-style: circle;
  list-style-position: inside;
}

.header__links-list-item {
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 18px;
  line-height: 24.3px;
}

.header__links-list-item_no-bullit {
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 18px;
  line-height: 24.3px;
  list-style-type: none;
}

.header__link_active {
  text-decoration: none;
}

.header__link {
  text-decoration: underline;
}

.header__logo {
  justify-self: center;
}

.header__logo-image {
  display: block;
  width: 148px;
  height: 105px;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 18px;
  font-style: normal;
  line-height: 1.35;
}

.header__address {
  justify-self: end;
  max-width: 240px;
}

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1100px;
  height: 757px;
  padding: 165px 50px 50px;
  color: #fff;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 385px;
  font-size: 100px;
  line-height: 1.15;
  text-transform: uppercase;
}

.aligned-text {
  display: inline-block;
  height: auto;
  line-height: 1.15;
}

.aligned-text_left {
  align-self: flex-start;
}

.aligned-text_center {
  align-self: center;
}

.aligned-text_right {
  align-self: flex-end;
}

.letter-spacing-extended {
  letter-spacing: 0.3em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover__description-text {
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 25px;
}

.cover__title,
.cover__description {
  position: relative;
  z-index: 2;
}

.bet-button {
  border: 1px solid #fff;
  padding: 12px 32px 11px 31px;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  background: transparent;
}

.lots {
  display: flex;
  flex-direction: column;
  padding: 180px 24px 120px;
}

.lots__heading {
  margin-bottom: 27px;
  margin-left: 40px;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding: 0;
  list-style: none;
}

.lots__card-list-item {
  flex: 0 0 334px;
  min-height: 596px;
}

.lots__look-more-link {
  margin-top: 34px;
  margin-left: 40px;
  font-size: 20px;
}

.card__title {
  color: #fff;
  font-size: 22px;
  line-height: 1.2;
  text-decoration: underline;
}

.card__text {
  font-size: 20px;
  line-height: 1.2;
}

.card-link {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
  color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card__title,
.card__text {
  position: relative;
  z-index: 2;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.about {
  display: grid;
  grid-template-columns: 240px 1fr;
  gap: 72px;
  padding: 35px 71px 0;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 141.54px;
  height: 112.55px;
}

.about__column {
  display: flex;
  flex-direction: column;
}

.about__title {
  margin-top: 101px;
  margin-bottom: 100px;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  line-height: 24px;
}

.about__text p {
  margin: 0;
}

.footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  margin-top: 180px;
  padding: 0 50px 82px;
}

.footer__address {
  justify-self: start;
  max-width: 240px;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}

.footer__menu-list-item {
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 18px;
  line-height: 24.3px;
  list-style-type: none;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__menu-link {
  text-decoration: underline;
}

.footer__social-list {
  display: flex;
  justify-self: end;
  gap: 48px;
}

.footer__social-list-item {
  list-style-type: none;
}

.footer__social-link {
  display: block;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
